#imageDetail.row.hidden.bg-dark.text-light.w-100.rounded
  .pointer
    .arrow
  .image.col-6.px-2
  .details.col-6.px-2
    .row
      .label.col-3 Description
      .description.col

    .row
      .label.col-3 Source
      .contentUrl.col

    .row
      .label.col-3 Type
      .format.col

    .row
      .label.col-3 Size
      .size.col

    .row
      .label.col-3 Resolution
      .resolution.col

    .row
      .label.col-3 Page
      .hostPageUrl.col
