div.jumbotron.my-4
  h1.display-4 No Results Found
  p.lead.
    Your search - #[span.font-weight-bold= query] - did not match any
    documents.

  p.lead Suggestions:

  ul
    li Make sure that all words are spelled correctly.
    li Try different keywords.
    li Try more general keywords.
    li Try fewer keywords.