<!-- pageTop.pug -->
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

  - let pageTitle = 'Find It!'
  if searchType
    - pageTitle += ` - ${searchType} results for ${query}`
  title #{pageTitle}

  link(rel='stylesheet' href='main.css')
<!-- /pageTop.pug -->