doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Find It!

    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
    link(rel='stylesheet' href='main.css')

  body
    .container
      .row.justify-content-center
        h1.title
          span F
          span i
          span n
          span d
          | 
          span I
          span t
          span !

      form#searchForm.form(action='' method='get')
        #searchTypes.row.justify-content-center
          .col.form-check.form-check-inline
            input#searchTypeWeb.form-check-input(checked value='web' name='searchType' type='radio')
            label.form-check-label(for='searchTypeWeb') Web

          .col.form-check.form-check-inline
            input#searchTypeBooks.form-check-input(value='books' name='searchType' type='radio')
            label.form-check-label(for='searchTypeBooks') Books

          .col.form-check.form-check-inline
            input#searchTypeBooks.form-check-input(value='movies' name='searchType' type='radio')
            label.form-check-label(for='searchTypeBooks') Movies

          .col.form-check.form-check-inline
            input#searchTypeProducts.form-check-input(value='products' name='searchType' type='radio')
            label.form-check-label(for='searchTypeProducts') Products

        .row.align-items-start
          .form-group.col-11
            input.form-control(type='text' name='query')

          button.btn.btn-primary.col-1(type="submit") Go!

    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
    script(src='main.js')