@import url('https://fonts.googleapis.com/css?family=Montserrat:800i');

.title {
  font-weight: 800;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
}

body.index .title {
  font-size: 4rem;
}

.title span:nth-child(1) { color: red; }
.title span:nth-child(2) { color: orange; }
.title span:nth-child(3) { color: gold; }
.title span:nth-child(4) { color: green; }
.title span:nth-child(5) { color: blue; }
.title span:nth-child(6) { color: indigo; }
.title span:nth-child(7) { color: violet; }

#searchForm #searchTypes .col {
  flex-grow: 0;
}

#searchForm button[type="submit"] {
  min-width: 3em;
}

#query {
  flex: 1;
}

#titleLink:hover {
  text-decoration: none;
}

.image a {
  --caption-height: 2em;

  display: inline-block;
  height: 8rem;
  position: relative;
}

.image a::before,
.image a::after {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 0.75rem;
  max-height: 0;
  height: var(--caption-height);
  line-height: var(--caption-height);
  overflow: hidden;
  position: absolute;
  bottom: 0;
  color: white;
  transition: max-height 0.25s;
  box-sizing: border-box;
  padding: 0 0.25em;
  background: linear-gradient(to top, black, transparent);
}

.image a::before {
  content: attr(data-size);
  left: 0;
  width: 5em;
}

.image a::after {
  content: attr(data-domain);
  text-align: right;
  width: calc(100% - 5em);
  left: 5em;
}

.image a:hover::before,
.image a:hover::after {
  max-height: var(--caption-height);
}

.image img {
  max-height: 100%;
  width: auto;
}
