@import url('https://fonts.googleapis.com/css?family=Montserrat:800i');

body,
html {
  scroll-behavior: smooth;
}

.title {
  font-weight: 800;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
}

body {
  overflow-y: scroll;
}

body.index .title {
  font-size: 4rem;
  overflow-y: auto;
}

.title span:nth-child(1) { color: red; }
.title span:nth-child(2) { color: orange; }
.title span:nth-child(3) { color: gold; }
.title span:nth-child(4) { color: green; }
.title span:nth-child(5) { color: blue; }
.title span:nth-child(6) { color: indigo; }
.title span:nth-child(7) { color: violet; }

#searchForm #searchTypes .col {
  flex-grow: 0;
}

#searchForm button[type="submit"] {
  min-width: 3em;
}

#query {
  flex: 1;
}

#titleLink:hover {
  text-decoration: none;
}

.image.result {
  height: 8rem;
  overflow: hidden;
}

.image.result a {
  --caption-height: 2em;

  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
}

.image.result a img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.image.result a::before,
.image.result a::after {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 0.75rem;
  max-height: 0;
  height: var(--caption-height);
  line-height: var(--caption-height);
  overflow: hidden;
  position: absolute;
  bottom: 0;
  color: white;
  transition: max-height 0.25s;
  box-sizing: border-box;
  padding: 0 0.25em;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
  z-index: 100;
}

.image.result a::before {
  content: attr(data-size);
  left: 0;
  width: 5em;
}

.image.result a::after {
  content: attr(data-domain);
  text-align: right;
  width: calc(100% - 5em);
  left: 5em;
}

.image.result a:hover::before,
.image.result a:hover::after {
  max-height: var(--caption-height);
}

#imageDetail {
  position: relative;
  margin: 0.5rem 0;
  max-height: 15rem;
  transition: max-height 0.5s;
}

#imageDetail.hidden {
  margin: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

#imageDetail .pointer {
  display: block;
  position: absolute;
  top: -0.5rem;
  left: 2rem;
  transform: translateX(-100%);
}

#imageDetail .pointer .arrow {
  display: block;
  background-color: var(--dark);
  width: 1rem;
  height: 1rem;
  transform: rotate(45deg);
}

#imageDetail .image {
  margin: 1rem 0;
  height: calc(100% - 2rem);
}

#imageDetail .image a {
  display: block;
  width: 100%;
  height: 100%;
}

#imageDetail .image a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#imageDetail .details {
  margin: 1rem 0;
}
